body{
    font-family: Arial;
    background-color: #f2f2f2;
}

.container{
    width: 500px;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border: 1px solid gray;
}

h2{
    text-align: center;
}

label{
    font-weight: bold;
}

span{
    color: red;
}

input{
    width: 100%;
    padding: 8px;
}

select{
    width: 100%;
    padding: 8px;
}

button{
    padding: 10px 20px;
    background-color: lightblue;
    border: 1px solid black;
    cursor: pointer;
}

.button-central{
    text-align: center;
}

button:hover{
    background-color: deepskyblue;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    background-color: lightgray;
}

th, td{
    padding: 10px;
    text-align: center;
}