body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

span{
    color: red;
}

h1{
    text-align: center;
}

.container{
    width: 700px;
    margin: 20px auto;
}


p{
    font-size: 16px;
    line-height: 1.5;
}


table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th{
    background-color: #3c3838;
    color: white;
    padding: 10px;
    border: 1px solid #333;
}

td{
    padding: 10px;
    border: 1px solid #999;
    background-color: #dff0d8;
}


.form-box{
    width: 500px;
    margin: 30px auto;
    background-color: #70f170;
    padding: 20px;
    border-radius: 40px;
}

.form-box h2{
    text-align: center;
}

label{
    display: inline-block;
    width: 80px;
    font-weight:normal;
    margin-bottom: 10px;
}

input{
    width: 380px;
    padding: 8px;
    margin-bottom: 10px;
}

textarea{
    width: 380px;
    height: 80px;
    padding: 8px;
    vertical-align: top;
}


button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color:white;
    border:black;
    
    
    
}

